@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ---- Mixins ---- */
/* ---- Loading spinner ---- */
.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.lettre {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  font-size: 45px;
  padding-right: 5px;
  animation: pulse 3s 450ms forwards;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: translateY(-50px);
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
    opacity: 0;
    transform: translateY(-50px);
  }
  20% {
    background-color: #9356dc;
  }
  40% {
    background-color: #ff79da;
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    background-color: #99e2d0;
  }
  80% {
    background-color: grey;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    background-color: #001f3f;
  }
}
.loader {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 10px solid #f6f6f6;
  position: absolute;
  top: 60%;
  left: 48%;
  opacity: 0;
  animation: load 3s linear backwards;
  border-radius: 50%;
}

@keyframes load {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
    opacity: 1;
  }
  25% {
    border-top-color: #ff79da;
    border-bottom-color: #ff79da;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  75% {
    border-top-color: #99e2d0;
    border-bottom-color: #99e2d0;
    opacity: 0.7;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
    opacity: 0;
  }
}
.animated {
  animation: postanimation 10ms 3s ease-in forwards;
  opacity: 0;
}

@keyframes postanimation {
  100% {
    opacity: 1;
  }
}
/* ---- Partie du site ---- */
/* ---- Général ---- */
h1 {
  font-family: "Shrikhand", sans-serif;
}

p,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

/* ---- Header ---- */
.top {
  margin: 15px;
  text-align: center;
}

.top_bis {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 15px;
}
.top_bis h1 {
  text-align: center;
  margin: auto;
}
.top_bis .fas {
  color: black;
}

/* ---- Main : Partie présentation ---- */
.accroche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.accroche__localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #eaeaea;
  margin-bottom: 10px;
  box-shadow: inset 0 5px 5px -5px #9e9e9e;
}
.accroche__localisation > i {
  margin-right: 15px;
}

.pitch__textes {
  text-align: center;
  margin: 20px 40px;
}
.pitch :first-child {
  font-weight: 600;
  font-size: 26px;
}
.pitch :last-child {
  font-weight: lighter;
  color: gray;
}

.btn {
  margin: auto;
  color: blue;
}
.btn--style {
  padding: 15px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, 60%, #965add);
  border: none;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.btn--style:hover {
  background: linear-gradient(to bottom right, #ff93e1, 60%, #a16be0);
  box-shadow: 0 4px 10px 1px #a6a6a6;
}
.btn__commande {
  margin: 30px;
  display: flex;
  justify-content: center;
  width: auto;
}
.btn__commande--look {
  width: 175px;
}

/* ---- Main : Fonctionnement ---- */
.indication {
  margin: 50px 0;
}
.indication h2 {
  margin: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.list :hover {
  background-color: #efe6fa;
}
.list :hover .fas {
  color: #9356dc;
}
.list__line {
  font-family: "Roboto", sans-serif;
  margin-right: -15px;
  color: white;
  background-color: #9356dc;
  border: 2px solid #9356dc;
  border-radius: 25px;
  padding: 5px 9px;
  z-index: 1;
}
.list__line--space {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 25px 25px;
  padding: 25px 40px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.list__line--space:hover {
  box-shadow: 0 4px 10px 1px #a6a6a6;
}
.list__line--space .fas {
  font-size: 20px;
  color: #848484;
}
.list__line--space p {
  margin-left: 25px;
  font-weight: 600;
}

/* ---- Main : les cartes des restaurants ---- */
.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding: 30px 4px;
}
.restaurants h2 {
  margin: 20px;
}
.restaurants .organisation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.restaurants .carte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 90%;
  height: 16%;
  margin: 10px auto;
  border-radius: 25px 25px;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.restaurants .carte:hover {
  box-shadow: 0 4px 10px 1px #a6a6a6;
}
.restaurants .carte__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.restaurants .carte__caption a {
  font-family: "Roboto", sans-serif;
  color: black;
}
.restaurants .carte__caption .far {
  font-size: 24px;
  margin-right: 10px;
}
.restaurants .carte__caption .far:active {
  animation: progression 500ms ease-in-out forwards;
}
@keyframes progression {
  100% {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
.restaurants .carte__caption__info :nth-child(-n+2) {
  margin: 5px;
  font-size: 17px;
}
.restaurants .carte__caption__info--name {
  font-weight: 600;
}
.restaurants .carte__caption__info--lieu {
  font-weight: 300;
}
.restaurants .picto {
  position: relative;
  height: 179px;
}
.restaurants .picto :last-child {
  position: absolute;
  top: 15px;
  right: 10px;
  background: #99e1cf;
  color: #33ae8f;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 5px 7px;
  font-size: 14px;
}
.restaurants .photo {
  height: 179px;
}
.restaurants img,
.restaurants .bannière {
  width: 100%;
  height: 179px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/* ---- Footer ---- */
.foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #2a2a2a;
  padding: 15px;
}
.foot h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
  color: white;
}
.foot__list__puce a {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
}
.foot__list__puce a :first-child {
  margin-right: 15px;
}
.foot__list__puce .fa-handshake {
  transform: rotate(145deg);
}

/* ---- CSS pour les pages des restaurants ---- */
.contenu {
  position: relative;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.contenu__bannière img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.contenu__titre {
  position: absolute;
  top: 240px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.contenu__titre .far {
  font-size: 24px;
  margin-right: 10px;
}
.contenu__titre .far:active {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: coloration 200ms forwards;
}
@keyframes coloration {
  0% {
    opacity: 0;
    font-size: 40px;
    margin-left: -16px;
  }
  50% {
    opacity: 0.5;
    font-size: 32px;
    margin-left: -8px;
  }
  100% {
    opacity: 1;
    font-size: 24px;
    margin-left: 0;
  }
}
.contenu__titre:checked {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.contenu__menu {
  background-color: #f6f6f6;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.contenu__menu h2 {
  font-weight: 400;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  width: fit-content;
  margin: 0 15px 10px;
  padding-bottom: 10px;
}
.contenu .entree {
  animation: ouverture 1000ms 0.2s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}
.contenu .plats {
  animation: ouverture 1000ms 0.4s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}
.contenu .desserts {
  animation: ouverture 1000ms 0.6s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}
.contenu__composition__textes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  background-color: white;
  margin: 12px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
  overflow: hidden;
}
.contenu__composition__textes:active {
  box-shadow: 0 4px 10px 1px #a6a6a6;
}
.contenu__composition__textes:active .hidden {
  width: 60px;
}
.contenu__composition__textes:active .hidden i {
  animation: rotation 600ms ease-in-out forwards;
}
.contenu__composition__textes--taille {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.contenu__composition__textes p {
  margin: 12px;
}
.contenu__composition__textes--style {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contenu__composition__textes--plus {
  font-weight: 300;
  font-size: 14.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contenu__composition__textes--prix {
  height: fit-content;
  display: flex;
  align-self: flex-end;
  font-weight: 600;
}

@keyframes rotation {
  100% {
    transform: rotate(720deg);
  }
}
@keyframes ouverture {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  align-items: center;
  color: white;
  background-color: #99e2d0;
  transition: width 500ms ease-in-out;
  border-radius: 0 15px 15px 0;
  width: 0;
}
.hidden i {
  transform: rotate(0);
}

/* ---- Media queries pour les tablettes ---- */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* ---- Accueil ---- */
  .indication {
    width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }
  .indication h2 {
    text-align: center;
  }

  .restaurants {
    padding-top: 10px;
  }
  .restaurants h2 {
    text-align: center;
  }
  .restaurants .organisation {
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
  }
  .restaurants .carte {
    width: 300px;
    margin: 20px auto;
  }

  .foot h2 {
    text-align: center;
    font-size: 28px;
  }
  .foot__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .foot__list__puce {
    width: 45%;
  }
  .foot__list__puce a {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  /* ---- pages Restaurants ---- */
  .contenu__titre {
    justify-content: center;
    align-content: space-between;
  }
  .contenu__titre h1 {
    margin-right: 40px;
    font-size: 28px;
  }
  .contenu__menu h2 {
    align-self: center;
  }
  .contenu__composition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 90%;
  }
  .contenu__composition__textes {
    width: 100%;
  }
}
/* ---- Media queries pour desktop ---- */
@media screen and (min-width: 992px) {
  /* ---- Accueil ---- */
  .indication h2 {
    text-align: center;
  }
  .indication ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 90%;
    margin: auto;
  }
  .indication .list {
    width: fit-content;
  }

  .restaurants h2 {
    text-align: center;
  }
  .restaurants .organisation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
  }
  .restaurants .carte {
    width: 450px;
    margin: 40px auto;
  }
  .restaurants .carte__caption .far:hover {
    animation: progression 250ms ease-in-out forwards;
  }
  @keyframes progression {
    100% {
      background: -webkit-linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }
  }

  .contenu__titre {
    justify-content: center;
    align-content: space-between;
  }
  .contenu__titre h1 {
    margin-right: 40px;
    font-size: 28px;
  }
  .contenu__titre .far:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: checked 500ms ease-in-out;
  }
  @keyframes checked {
    0% {
      opacity: 0;
      font-size: 40px;
      margin-left: -16px;
    }
    50% {
      opacity: 0.5;
      font-size: 32px;
      margin-left: -8px;
    }
    100% {
      opacity: 1;
      font-size: 24px;
      margin-left: 0;
    }
  }
  .contenu__menu h2 {
    align-self: center;
  }
  .contenu__composition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .contenu__composition__textes {
    width: 345px;
  }
  .contenu__composition__textes:hover .hidden {
    width: 60px;
  }
  .contenu__composition__textes:hover .hidden i {
    animation: rotation 600ms ease-in-out forwards;
  }

  #livret {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    margin-top: 30px;
  }

  .foot h2 {
    text-align: center;
    font-size: 28px;
  }
  .foot__list {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
  }
  .foot__list__puce {
    width: 45%;
  }
  .foot__list__puce a {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
/* ---- Media queries pour les grands écrans ---- */
@media screen and (min-width: 1366px) {
  .restaurants .organisation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
  }
  .restaurants .carte {
    width: 22%;
    margin: 40px auto;
  }
}
/* Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body,
html,
aside,
h2 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=styles.css.map */
