@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  /* à ajouter à reste.scss margin: 0;*/
}

p,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

/*@mixin sens($sens) {
  @if ($sens==top) {
    $sens: "margin-top";
  }
  else {
    @if ($sens==right) {
      $sens: "margin-right";
    }
  }
  @else {
    @if ($sens==bottom) {
      $sens: "margin-bottom";
    }
  }
  @else {
    @if ($sens==left) {
      $sens: "margin-left";
    }
  }
  @else {
    $sens: "margin";
  }
}*/
/* $bordhg : bord haut gauche; $bordhd : bord haut droit, $bordbd : bord bas droit, $bordbg : bord bas gauche; */
.top {
  margin: 15px;
  text-align: center;
}

.top_bis {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 15px;
}
.top_bis h1 {
  text-align: center;
  margin: auto;
}

.accroche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.accroche__localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #eaeaea;
  margin-bottom: 10px;
}
.accroche__localisation > i {
  margin-right: 15px;
}

.pitch__textes {
  text-align: center;
  margin: 20px 40px;
}
.pitch :first-child {
  font-weight: 600;
  font-size: 26px;
}
.pitch :last-child {
  font-weight: lighter;
  color: gray;
}

.btn {
  margin: auto;
  color: blue;
}
.btn--style {
  padding: 15px;
  height: 50px;
  border-radius: 25px 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, 60%, #965add);
  border: none;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.btn__commande {
  margin: 30px;
  display: flex;
  justify-content: center;
  width: auto;
}
.btn__commande--look {
  width: 175px;
}

/* ---- Fonctionnement ---- */
.indication {
  margin: 50px 0;
}
.indication h2 {
  margin: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.list :hover {
  background-color: #efe6fa;
}
.list :hover .fas {
  color: #9356dc;
}
.list__line {
  margin-right: -15px;
  color: white;
  background-color: #9356dc;
  border: 2px solid #9356dc;
  border-radius: 25px;
  padding: 5px 9px;
  z-index: 1;
}
.list__line--space {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 25px 25px;
  padding: 25px 40px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.list__line--space .fas {
  font-size: 20px;
  color: #848484;
}
.list__line--space p {
  margin-left: 25px;
  font-weight: 600;
}

/* ---- Restaurants: les cartes ---- */
.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding: 30px 4px;
}
.restaurants h2 {
  margin: 20px;
}
.restaurants .carte {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 90%;
  height: 16%;
  margin: 10px auto;
  border-radius: 25px 25px;
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.restaurants .carte__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.restaurants .carte__caption a {
  font-family: "Roboto", sans-serif;
  color: black;
}
.restaurants .carte__caption .far {
  font-size: 24px;
  margin-right: 10px;
}
.restaurants .carte__caption :hover .far {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.restaurants .carte__caption :active {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.restaurants .carte__caption__info :nth-child(-n+2) {
  margin: 5px;
  font-size: 17px;
}
.restaurants .carte__caption__info--name {
  font-weight: 600;
}
.restaurants .carte__caption__info--lieu {
  font-weight: 300;
}
.restaurants .picto {
  position: relative;
}
.restaurants .picto :last-child {
  position: absolute;
  top: 15px;
  right: 10px;
  background: #99e1cf;
  color: #33ae8f;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 5px 7px;
  font-size: 14px;
}
.restaurants img,
.restaurants .bannière {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #2a2a2a;
  padding: 15px;
}
.foot h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 130%;
  font-weight: 400;
  margin: 10px;
  color: white;
}
.foot__puce a {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 10px;
}
.foot__puce a :first-child {
  margin-right: 15px;
}
.foot__puce .fa-handshake {
  transform: rotate(145deg);
}

/* ---- CSS pour les pages des restaurants ---- */
.contenu {
  position: relative;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.contenu__bannière img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.contenu__titre {
  position: absolute;
  top: 240px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.contenu__titre .far {
  font-size: 24px;
  margin-right: 10px;
}
.contenu__titre .far:hover {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.contenu__titre .far:active {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.contenu__menu {
  background-color: #f6f6f6;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.contenu__menu h2 {
  font-weight: 400;
  font-size: 16px;
  border-bottom: 3px solid #99e2d0;
  width: fit-content;
  margin: 0 15px 10px;
  padding-bottom: 10px;
}
.contenu__composition__textes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  background-color: white;
  margin: 12px;
  border-radius: 15px;
  /*@include paddes(5px);*/
  box-shadow: 0px 4px 10px 1px #d4d4d4;
}
.contenu__composition__textes--taille {
  min-width: 210px;
}
.contenu__composition__textes p {
  margin: 12px;
}
.contenu__composition__textes--style {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contenu__composition__textes--plus {
  font-weight: 300;
  font-size: 14.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contenu__composition__textes--prix {
  height: fit-content;
  display: flex;
  align-self: flex-end;
  font-weight: 600;
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  align-items: center;
  /*@include bordure;*/
  color: white;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  display: hidden;
}

/* Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body,
html,
aside,
h2 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=styles.css.map */
