body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

h1,
h2,
h3 {
  font-family: "Shrikhand", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}

.restaurants {
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
