@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

@mixin fontprimaire {
  font-family: "Shrikhand", sans-serif;
}

@mixin fontsecondaire {
  font-family: "Roboto", sans-serif;
}

h1 {
  @include fontprimaire;
}
p,
h2,
h3 {
  @include fontsecondaire;
}

@mixin disposition(
  $type: flex,
  $sens: column,
  $justif: flex-start,
  $align: flex-start
) {
  display: $type;
  flex-direction: $sens;
  justify-content: $justif;
  align-content: $align;
}

/*@mixin sens($sens) {
  @if ($sens==top) {
    $sens: "margin-top";
  }
  else {
    @if ($sens==right) {
      $sens: "margin-right";
    }
  }
  @else {
    @if ($sens==bottom) {
      $sens: "margin-bottom";
    }
  }
  @else {
    @if ($sens==left) {
      $sens: "margin-left";
    }
  }
  @else {
    $sens: "margin";
  }
}*/

@mixin marges($marg: 10px) {
  margin: $marg;
}
@mixin paddes($pad: 10px) {
  padding: $pad;
}
@mixin largeur($large: 100%) {
  width: $large;
}
@mixin hauteur($haute: 100%) {
  height: $haute;
}
@mixin localisation($local: absolute, $abscisse: 0, $ordonne: 0) {
  position: $local;
  top: $abscisse;
  left: $ordonne;
}
@mixin bordure($bdwidth: 1px, $bdstyle: solid, $bdcolor: #eaeaea) {
  border: $bdwidth $bdstyle $bdcolor;
}
/* $bordhg : bord haut gauche; $bordhd : bord haut droit, $bordbd : bord bas droit, $bordbg : bord bas gauche; */
@mixin rayon($bord) {
  border-radius: $bord;
}

header {
  h1 {
    text-align: center;
    @include marges(15px);
    font-size: 28px;
  }
}

.accroche {
  @include disposition(flex, column, center, center);
  background-color: #f6f6f6;
  padding-bottom: 30px;

  &__localisation {
    @include disposition(flex, row, center, center);
    align-items: center;
    @include largeur;
    @include hauteur(50px);
    text-align: center;
    @include fontsecondaire;
    font-weight: 500;
    background-color: #eaeaea;
    margin-bottom: 10px;

    > i {
      margin-right: 15px;
    }
  }
}

.pitch {
  &__textes {
    text-align: center;
    @include marges(20px 40px);
  }

  :first-child {
    font-weight: 600;
    font-size: 26px;
  }

  :last-child {
    font-weight: lighter;
    color: lighten($color: #000000, $amount: 50);
  }
}

.btn {
  @include marges(auto);
  color: blue;

  &--style {
    @include paddes(15px);
    @include hauteur(50px);
    @include rayon(25px 25px);
    @include fontsecondaire;
    color: white;
    background: linear-gradient(
      to bottom right,
      $secondaire,
      60%,
      lighten($primaire, 1)
    );
    border: none;
    @include marges;
    cursor: pointer;
  }
}
/* ---- Fonctionnement ---- */
.indication {
  @include marges(50px 0);

  h2 {
    @include marges(20px);
  }
}
.list {
  @include disposition(flex, row, center, center);
  align-items: center;
  @include marges(10px);
  @include paddes(10px);

  :hover {
    background-color: lighten($primaire, 34);
    .fas {
      color: $primaire;
    }
  }

  &__line {
    margin-right: -15px;
    color: white;
    background-color: $primaire;
    @include bordure(2px, solid, $primaire);
    @include rayon(25px);
    @include paddes(5px 9px);
    z-index: 1;

    &--space {
      @include disposition(flex, row, flex-start, flex-start);
      align-items: center;
      @include largeur(100%);
      @include rayon(25px 25px);
      @include paddes(25px 40px);
      background-color: #f6f6f6;

      .fas {
        font-size: 20px;
        color: darken(#eaeaea, 40);
      }

      p {
        margin-left: 25px;
        font-weight: 600;
      }
    }
  }
}
/* ---- Restaurants: les cartes ---- */
.restaurants {
  background-color: #f6f6f6;
  @include disposition(flex, column, space-between, flex-start);
  @include paddes(30px 4px);

  h2 {
    @include marges(20px);
  }

  .carte {
    @include disposition;
    @include largeur(90%);
    @include hauteur(16%);
    @include marges(10px auto);
    @include rayon(25px 25px);

    &__caption {
      @include disposition(flex, row, space-between, flex-start);
      align-items: center;
      @include paddes;
      background-color: white;
      @include rayon(0 0 15px 15px);

      a {
        @include fontsecondaire;
        color: black;
      }

      .far {
        font-size: 24px;
        margin-right: 10px;
      }
      :hover {
        .far {
          background: -webkit-linear-gradient($primaire, $secondaire);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
        }
      }
      :active {
        background: -webkit-linear-gradient($primaire, $secondaire);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }

      &__info {
        :nth-child(-n + 2) {
          @include marges(5px);
          font-size: 17px;
        }

        &--name {
          font-weight: 600;
        }

        &--lieu {
          font-weight: 300;
        }
      }
    }
  }
  .picto {
    position: relative;
    :last-child {
      position: absolute;
      top: 15px;
      right: 10px;
      background: #99e1cf;
      color: darken(#99e1cf, 30);
      @include fontsecondaire;
      font-weight: 500;
      @include paddes(5px 7px);
      font-size: 14px;
    }
  }
  img {
    @include largeur;
    height: 175px;
    object-fit: cover;
    @include rayon(15px 15px 0 0);
  }
}

.foot {
  @include disposition;
  background-color: darken(darkgrey, 50);
  @include paddes(15px);
  h2 {
    @include fontprimaire;
    font-size: 130%;
    font-weight: 400;
    @include marges;
    color: white;
  }

  &__puce {
    a {
      color: white;
      @include fontsecondaire;
      @include disposition(flex, row, flex-start, flex-start);
      @include marges;
    }
    a {
      :first-child {
        margin-right: 15px;
      }
    }
    .fa-handshake {
      transform: rotate(145deg);
    }
  }
}

@import "reset.scss";
