@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;

@mixin fontprimaire {
  font-family: "Shrikhand", sans-serif;
}

@mixin fontsecondaire {
  font-family: "Roboto", sans-serif;
}

h1 {
  @include fontprimaire;
  /* à ajouter à reste.scss margin: 0;*/
}
p,
h2,
h3 {
  @include fontsecondaire;
}

@mixin disposition(
  $type: flex,
  $sens: column,
  $justif: flex-start,
  $align: flex-start
) {
  display: $type;
  flex-direction: $sens;
  justify-content: $justif;
  align-content: $align;
}

@mixin marges($marg: 10px) {
  margin: $marg;
}
@mixin paddes($pad: 10px) {
  padding: $pad;
}
@mixin largeur($large: 100%) {
  width: $large;
}
@mixin hauteur($haute: 100%) {
  height: $haute;
}
@mixin localisation($local: absolute, $abscisse: 0, $ordonne: 0) {
  position: $local;
  top: $abscisse;
  left: $ordonne;
}
@mixin bordure($bdwidth: 1px, $bdstyle: solid, $bdcolor: #eaeaea) {
  border: $bdwidth $bdstyle $bdcolor;
}
@mixin rayon($bord) {
  border-radius: $bord;
}

@mixin ombre(
  $horizon: 0px,
  $vertical: 4px,
  $diffus: 10px,
  $longueur: 1px,
  $couleur: lighten(grey, 33)
) {
  box-shadow: $horizon $vertical $diffus $longueur $couleur;
}

@mixin coeur {
  background: -webkit-linear-gradient($primaire, $secondaire);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@mixin animation($name, $duration, $method) {
  animation: $name $duration $method;
}

.top {
  @include marges(15px);
  text-align: center;
}
.top_bis {
  @include disposition(flex, row, flex-start, flex-start);
  align-items: center;
  @include marges(15px);
  h1 {
    text-align: center;
    @include marges(auto);
  }
}

.accroche {
  @include disposition(flex, column, center, center);
  background-color: #f6f6f6;
  padding-bottom: 30px;

  &__localisation {
    @include disposition(flex, row, center, center);
    align-items: center;
    @include largeur;
    @include hauteur(50px);
    text-align: center;
    @include fontsecondaire;
    font-weight: 500;
    background-color: #eaeaea;
    margin-bottom: 10px;
    box-shadow: inset 0 5px 5px -5px darken(#eaeaea, 30);

    > i {
      margin-right: 15px;
    }
  }
}

.pitch {
  &__textes {
    text-align: center;
    @include marges(20px 40px);
  }

  :first-child {
    font-weight: 600;
    font-size: 26px;
  }

  :last-child {
    font-weight: lighter;
    color: lighten($color: #000000, $amount: 50);
  }
}

.btn {
  @include marges(auto);
  color: blue;

  &--style {
    @include paddes(15px);
    @include hauteur(50px);
    @include rayon(25px 25px);
    @include fontsecondaire;
    color: white;
    background: linear-gradient(
      to bottom right,
      $secondaire,
      60%,
      lighten($primaire, 1)
    );
    border: none;
    @include marges;
    cursor: pointer;
    @include ombre;
    &:hover {
      background: linear-gradient(
        to bottom right,
        lighten($secondaire, 5),
        60%,
        lighten($primaire, 5)
      );
      @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
    }
  }

  &__commande {
    @include marges(30px);
    display: flex;
    justify-content: center;
    width: auto;
    &--look {
      width: 175px;
    }
  }
}
/* ---- Fonctionnement ---- */
.indication {
  @include marges(50px 0);

  h2 {
    @include marges(20px);
  }
}
.list {
  @include disposition(flex, row, center, center);
  align-items: center;
  @include marges(10px);
  @include paddes(10px);

  :hover {
    background-color: lighten($primaire, 34);

    .fas {
      color: $primaire;
    }
  }

  &__line {
    @include fontsecondaire;
    margin-right: -15px;
    color: white;
    background-color: $primaire;
    @include bordure(2px, solid, $primaire);
    @include rayon(25px);
    @include paddes(5px 9px);
    z-index: 1;

    &--space {
      @include disposition(flex, row, flex-start, flex-start);
      align-items: center;
      @include largeur(100%);
      @include rayon(25px 25px);
      @include paddes(25px 40px);
      background-color: #f6f6f6;
      @include ombre;
      &:hover {
        @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
      }

      .fas {
        font-size: 20px;
        color: darken(#eaeaea, 40);
      }

      p {
        margin-left: 25px;
        font-weight: 600;
      }
    }
  }
}
/* ---- Restaurants: les cartes ---- */
.restaurants {
  background-color: #f6f6f6;
  @include disposition(flex, column, space-between, flex-start);
  @include paddes(30px 4px);

  h2 {
    @include marges(20px);
  }

  .organisation {
    @include disposition(flex, column, space-between, flex-start);
  }

  .carte {
    @include disposition;
    @include largeur(90%);
    @include hauteur(16%);
    @include marges(10px auto);
    @include rayon(25px 25px);
    @include ombre;
    &:hover {
      @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
    }

    &__caption {
      @include disposition(flex, row, space-between, flex-start);
      align-items: center;
      @include paddes;
      background-color: white;
      @include rayon(0 0 15px 15px);

      a {
        @include fontsecondaire;
        color: black;
      }

      .far {
        font-size: 24px;
        margin-right: 10px;
        &:hover {
          @include coeur;
          @include animation(checked, 350ms, ease-in-out);
        }
      }

      &__info {
        :nth-child(-n + 2) {
          @include marges(5px);
          font-size: 17px;
        }

        &--name {
          font-weight: 600;
        }

        &--lieu {
          font-weight: 300;
        }
      }
    }
  }
  .picto {
    position: relative;
    height: 179px;
    :last-child {
      position: absolute;
      top: 15px;
      right: 10px;
      background: #99e1cf;
      color: darken(#99e1cf, 30);
      @include fontsecondaire;
      font-weight: 500;
      @include paddes(5px 7px);
      font-size: 14px;
    }
  }
  .photo {
    height: 179px;
  }
  img,
  .bannière {
    @include largeur;
    height: 179px;
    object-fit: cover;
    @include rayon(15px 15px 0 0);
  }
}

/* ---- CSS pour les pages des restaurants ---- */

.contenu {
  position: relative;
  background-color: #f6f6f6;
  padding-bottom: 30px;

  &__bannière {
    img {
      @include largeur;
      height: 300px;
      object-fit: cover;
    }
  }

  &__titre {
    position: absolute;
    top: 240px;
    @include largeur;
    @include rayon(15px 15px 0 0);
    @include paddes(0 20px);
    @include disposition(flex, row, space-between, center);
    align-items: center;
    background-color: #f6f6f6;
    .far {
      font-size: 24px;
      margin-right: 10px;

      &:active {
        @include coeur;
        @include animation(coloration, 200ms, forwards);
      }
      @keyframes coloration {
        0% {
          opacity: 0;
          font-size: 40px;
          margin-left: -16px;
        }
        50% {
          opacity: 0.5;
          font-size: 32px;
          margin-left: -8px;
        }
        100% {
          opacity: 1;
          font-size: 24px;
          margin-left: 0;
        }
      }
    }
    &:checked {
      @include coeur;
    }
  }

  &__menu {
    background-color: #f6f6f6;
    margin-top: 20px;
    @include disposition;

    h2 {
      font-weight: 400;
      font-size: 16px;
      border-bottom: 3px solid $tertiaire;
      @include largeur(fit-content);
      @include marges(0 15px 10px);
      padding-bottom: 10px;
    }
  }
  .entree {
    animation: ouverture 1000ms 0.2s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-30px);
  }
  .plats {
    animation: ouverture 1000ms 0.4s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-30px);
  }
  .desserts {
    animation: ouverture 1000ms 0.6s ease-in-out forwards;
    opacity: 0;
    transform: translateY(-30px);
  }
  &__composition {
    &__textes {
      @include disposition(flex, row, space-between, flex-start);
      background-color: white;
      @include marges(12px);
      @include rayon(15px);
      @include ombre;
      overflow: hidden;
      &:hover {
        @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
      }
      &--taille {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        @include marges(12px);
      }
      &--style {
        font-weight: 600;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &--plus {
        font-weight: 300;
        font-size: 14.5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &--prix {
        height: fit-content;
        display: flex;
        align-self: flex-end;
        font-weight: 600;
      }
      &:active {
        .hidden {
          transform: translate(0);
          i {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
}

@keyframes ouverture {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hidden {
  @include disposition(flex, row, center, center);
  flex-shrink: 0;
  align-items: center;
  color: white;
  background-color: $tertiaire;
  transform: translate(60px);
  transition: transform 350ms ease-in-out;
  @include rayon(0 15px 15px 0);
  width: 60px;

  i {
    transition: transform 600ms ease-in-out;
  }
}

/* ---- Footer ---- */

.foot {
  @include disposition;
  background-color: darken(darkgrey, 50);
  @include paddes(15px);
  h2 {
    @include fontprimaire;
    font-size: 24px;
    font-weight: 400;
    @include marges;
    color: white;
  }
  &__list {
    &__puce {
      a {
        color: white;
        @include fontsecondaire;
        @include disposition(flex, row, flex-start, flex-start);
        @include marges;
      }
      a {
        :first-child {
          margin-right: 15px;
        }
      }
      .fa-handshake {
        transform: rotate(145deg);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* ---- Accueil ---- */
  .indication {
    width: 400px;
    @include marges(auto);
    margin-bottom: 30px;

    h2 {
      text-align: center;
    }
  }

  .restaurants {
    padding-top: 10px;
    h2 {
      text-align: center;
    }

    .organisation {
      flex-direction: row;
      flex-wrap: wrap;
      @include largeur(85%);
      @include marges(auto);
    }

    .carte {
      @include largeur(300px);
      @include marges(20px auto);
    }
  }

  .foot {
    h2 {
      text-align: center;
      font-size: 28px;
    }

    &__list {
      @include disposition(flex, row, space-evenly, flex-start);
      flex-wrap: wrap;

      &__puce {
        @include largeur(45%);

        a {
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  /* ---- pages Restaurants ---- */
  .contenu {
    &__titre {
      justify-content: center;
      align-content: space-between;
      h1 {
        margin-right: 40px;
        font-size: 28px;
      }
    }
    &__menu {
      h2 {
        align-self: center;
      }
    }
    &__composition {
      @include disposition(flex, column, center, center);
      @include marges(auto);
      @include largeur(90%);
      &__textes {
        @include largeur(100%);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  /* ---- Accueil ---- */
  .indication {
    h2 {
      text-align: center;
    }

    ul {
      @include disposition(flex, row, space-evenly, flex-start);
      @include largeur(90%);
      @include marges(auto);
    }

    .list {
      @include largeur(340px);
    }
  }

  .restaurants {
    h2 {
      text-align: center;
    }

    .organisation {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      @include largeur(95%);
      @include marges(auto);
    }

    .carte {
      @include largeur(450px);
      @include marges(40px auto);
    }
  }
  .contenu {
    &__titre {
      .far {
        &:hover {
          @include coeur;
          @include animation(checked, 500ms, ease-in-out);
        }
        @keyframes checked {
          0% {
            opacity: 0;
            font-size: 40px;
            margin-left: -16px;
          }
          50% {
            opacity: 0.5;
            font-size: 32px;
            margin-left: -8px;
          }
          100% {
            opacity: 1;
            font-size: 24px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .foot {
    h2 {
      text-align: center;
      font-size: 28px;
    }

    &__list {
      @include marges;
      @include disposition(flex, row, space-evenly, flex-start);

      &__puce {
        @include largeur(45%);

        a {
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  /* ---- pages Restaurants ---- */

  .contenu {
    &__titre {
      justify-content: center;
      align-content: space-between;
      h1 {
        margin-right: 40px;
        font-size: 28px;
      }
    }

    &__menu {
      h2 {
        align-self: center;
      }
    }

    &__composition {
      @include disposition(flex, column, flex-start, flex-start);
      &__textes {
        width: 345px;
        &:hover {
          .hidden {
            transform: translate(0);
            i {
              transform: rotate(1turn);
            }
          }
        }
      }
    }
  }
  #livret {
    @include disposition(flex, row, space-between, flex-start);
    margin-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  body,
  html {
    @include marges(0 200px);
  }
}
@import "reset.scss";
