.accroche {
  @include disposition(flex, column, center, center);
  background-color: #f6f6f6;
  padding-bottom: 30px;

  &__localisation {
    @include disposition(flex, row, center, center);
    align-items: center;
    @include largeur;
    @include hauteur(50px);
    text-align: center;
    @include fontsecondaire;
    font-weight: 500;
    background-color: #eaeaea;
    margin-bottom: 10px;
    box-shadow: inset 0 5px 5px -5px darken(#eaeaea, 30);

    > i {
      margin-right: 15px;
    }
  }
}

.pitch {
  &__textes {
    text-align: center;
    @include marges(20px 40px);
  }

  :first-child {
    font-weight: 600;
    font-size: 26px;
  }

  :last-child {
    font-weight: lighter;
    color: lighten($color: #000000, $amount: 50);
  }
}

.btn {
  @include marges(auto);
  color: blue;

  &--style {
    @include paddes(15px);
    @include hauteur(50px);
    @include rayon(25px 25px);
    @include fontsecondaire;
    color: white;
    background: linear-gradient(
      to bottom right,
      $secondaire,
      60%,
      lighten($primaire, 1)
    );
    border: none;
    @include marges;
    cursor: pointer;
    @include ombre;
    &:hover {
      background: linear-gradient(
        to bottom right,
        lighten($secondaire, 5),
        60%,
        lighten($primaire, 5)
      );
      @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
    }
  }

  &__commande {
    @include marges(30px);
    display: flex;
    justify-content: center;
    width: auto;
    &--look {
      width: 175px;
    }
  }
}
