.restaurants {
  background-color: #f6f6f6;
  @include disposition(flex, column, space-between, flex-start);
  @include paddes(30px 4px);

  h2 {
    @include marges(20px);
  }

  .organisation {
    @include disposition(flex, column, space-between, flex-start);
  }

  .carte {
    @include disposition;
    @include largeur(90%);
    @include hauteur(16%);
    @include marges(10px auto);
    @include rayon(25px 25px);
    @include ombre;
    &:hover {
      @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
    }

    &__caption {
      @include disposition(flex, row, space-between, flex-start);
      align-items: center;
      @include paddes;
      background-color: white;
      @include rayon(0 0 15px 15px);

      a {
        @include fontsecondaire;
        color: black;
      }

      &__info {
        :nth-child(-n + 2) {
          @include marges(5px);
          font-size: 17px;
        }

        &--name {
          font-weight: 600;
        }

        &--lieu {
          font-weight: 300;
        }
      }
    }
  }
  .picto {
    position: relative;
    height: 179px;

    :last-child {
      position: absolute;
      top: 15px;
      right: 10px;
      background: #99e1cf;
      color: darken(#99e1cf, 30);
      @include fontsecondaire;
      font-weight: 500;
      @include paddes(5px 7px);
      font-size: 14px;
    }
  }

  .photo {
    height: 179px;
  }

  img,
  .bannière {
    @include largeur;
    height: 179px;
    object-fit: cover;
    @include rayon(15px 15px 0 0);
  }
}
