@media screen and (min-width: 768px) and (max-width: 992px) {
  .indication {
    width: 400px;
    @include marges(auto);
    margin-bottom: 30px;

    h2 {
      text-align: center;
    }
  }

  .restaurants {
    padding-top: 10px;
    h2 {
      text-align: center;
    }

    .organisation {
      flex-direction: row;
      flex-wrap: wrap;
      @include largeur(85%);
      @include marges(auto);
    }

    .carte {
      @include largeur(300px);
      @include marges(20px auto);
    }
  }

  .foot {
    h2 {
      text-align: center;
      font-size: 28px;
    }

    &__list {
      @include disposition(flex, row, space-evenly, flex-start);
      flex-wrap: wrap;

      &__puce {
        @include largeur(45%);

        a {
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  /* ---- pages Restaurants ---- */
  .contenu {
    &__titre {
      justify-content: center;
      align-content: space-between;
      h1 {
        margin-right: 40px;
        font-size: 28px;
      }
    }
    &__menu {
      h2 {
        align-self: center;
      }
    }
    &__composition {
      @include disposition(flex, column, center, center);
      @include marges(auto);
      @include largeur(90%);
      &__textes {
        @include largeur(100%);
      }
    }
  }
}
