.btn {
  @include largeur(fit-content);
  @include paddes(15px 20px);
  @include hauteur(50px);
  @include rayon(25px 25px);
  @include fontsecondaire;
  color: white;
  align-self: center;
  background: linear-gradient(
    to bottom right,
    $secondaire,
    60%,
    lighten($primaire, 1)
  );
  border: none;
  @include marges;
  cursor: pointer;
  @include ombre;

  &:hover {
    background: linear-gradient(
      to bottom right,
      lighten($secondaire, 5),
      60%,
      lighten($primaire, 5)
    );
    @include ombre(0, 4px, 10px, 1px, lighten(grey, 15));
  }

  &__commande {
    @include marges(30px);
    display: flex;
    justify-content: center;

    &--look {
      @include largeur(175px);
    }
  }
}
