.fa-heart {
  font-size: 24px;
  margin-right: 10px;

  @media screen and (max-width: 992px) {
    &:active {
      @include coeur;
      @include animation(checked, 350ms, ease-in-out);
    }
  }

  @media screen and (min-width: 992px) {
    &:hover {
      @include coeur;
      @include animation(checked, 350ms, ease-in-out);
    }
  }

  @keyframes checked {
    0% {
      opacity: 0;
      font-size: 18px;
      margin-left: 6px;
    }

    50% {
      opacity: 0.5;
      font-size: 21px;
      margin-left: 3px;
    }

    100% {
      opacity: 1;
      font-size: 24px;
      margin-left: 0;
    }
  }
}
