html {
  scroll-behavior: smooth;
}

body {
  @include marges(0);
  @include paddes(0);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  @include fontprimaire;
}

p,
h2,
h3 {
  @include fontsecondaire;
}
